<template>
  <div>
    <v-dialog
      v-model="storyDialog"
      overlay-color="black"
      overlay-opacity="0.9"
      max-width="600"
      content-class="overflow-hidden elevation-0"
    >
      <v-carousel
        v-model="selectedStory"
        cycle
        hide-delimiters
        :interval="5000"
        show-arrows-on-hover
      >
        <v-icon
          size="40"
          @click="storyDialog = false"
          style="position:fixed; top:10%; right:20%"
          >mdi-close</v-icon
        >
        <v-carousel-item v-for="(story, index) in stories" :key="index">
          <!-- <v-card flat> -->
          <v-img max-height="100%" contain :src="story"> </v-img>
          <!-- </v-card> -->
        </v-carousel-item>
      </v-carousel>
    </v-dialog>
    <v-row>
      <v-col cols="12" md="9" class="px-12" or>
        <div class="d-flex justify-space-between mb-3">
          <span class="font-md-large-bold font-small-bold"
            >Featured stories</span
          >
          <v-btn disabled class="text-capitalize d-md-block d-none"
            >Popular stories</v-btn
          >
        </div>
        <v-row>
          <v-col
            @click.stop="openStory(index)"
            md="3"
            sm="4"
            cols="12"
            v-for="(story, index) in stories"
            :key="index"
          >
            <v-hover v-slot="{ hover }">
              <v-card :elevation="hover ? 12 : 0" max-width="100%" hover>
                <v-img :src="story" min-height="300"></v-img>
              </v-card>
            </v-hover>
          </v-col>
        </v-row>
        <div class="mb-3 d-flex align-center justify-space-between">
          <div class="font-md-large-bold font-small-bold">Latest feed</div>
          <div>
            <v-icon
              :size="isScreenSmall ? 20 : ''"
              class="mr-2"
              @click.stop="feedShowType = 'list'"
              large
              >mdi-menu</v-icon
            >
            <v-icon
              :size="isScreenSmall ? 20 : ''"
              @click.stop="feedShowType = 'grid'"
              >$foursquare</v-icon
            >
          </div>
        </div>
        <v-row>
          <template v-if="feedShowType === 'grid'">
            <v-col
              v-for="(feed, index) in latestFeed"
              :key="index"
              cols="12"
              md="4"
            >
              <v-hover v-slot="{ hover }">
                <v-card
                  link
                  :to="`/post?id=${feed.id}`"
                  :elevation="hover ? 12 : 0"
                  max-width="100%"
                  hover
                >
                  <v-img
                    :src="feed.image"
                    min-height="300"
                    max-height="300"
                  ></v-img>
                </v-card>
              </v-hover>
            </v-col>
          </template>
          <template v-else>
            <v-row>
              <v-col v-for="(feed, index) in latestFeed" :key="index" cols="12">
                <v-hover v-slot="{ hover }">
                  <v-row>
                    <v-col cols="4">
                      <v-img
                        class="cursor-pointer"
                        max-height="200"
                        max-width="300"
                        :src="feed.image"
                      ></v-img>
                    </v-col>
                    <v-col cols="8">
                      <div class="text-h6">
                        <router-link
                          class="text-decoration-none black--text"
                          :to="`/post?id=${feed.id}`"
                        >
                          {{ feed.title }}
                        </router-link>
                      </div>
                      <div class="subtitle-2">{{ feed.discription }}</div>
                      <v-expand-transition>
                        <div v-if="hover" class="mt-3">
                          <span class="mr-2 caption">
                            <v-icon size="15">mdi-heart-outline</v-icon>
                            {{ feed.likes }}
                          </span>
                          <span class="caption">
                            <v-icon size="15">mdi-comment-outline</v-icon>
                            {{ feed.comments }}
                          </span>
                        </div>
                      </v-expand-transition>
                    </v-col>
                  </v-row>
                </v-hover>
              </v-col>
            </v-row>
          </template>
        </v-row>
        <div class="d-flex justify-center">
          <v-btn
            outlined
            class="text-capitalize"
            depressed
            color="#ff4e6a"
            dark
            @click.stop="loadMorePhotos"
            >Load More</v-btn
          >
        </div>
      </v-col>
      <v-col cols="12" sm="8" md="3">
        <v-card flat class="pa-6 pa-md-3">
          <v-img
            min-height="300"
            src="https://images.unsplash.com/photo-1529665253569-6d01c0eaf7b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
          >
          </v-img>
          <v-card-title class="px-0 font-weight-bold letter-spacing-large">
            Mostafa Rahmati
          </v-card-title>
          <v-card-subtitle
            class="d-flex justify-space-between align-center pl-0 pr-10"
          >
            <div>
              <span class="font-small-bold mr-2">{{ userPhotoCount }}</span>
              <span class="font-small-grey">Photos</span>
            </div>
            <div>
              <span class="font-small-bold">{{ userFollowersCount }}</span>
              <span class="font-small-grey ml-2">Followers</span>
            </div>
          </v-card-subtitle>
          <v-card-text class="pl-0">
            {{ bio }}
            <v-btn
              text
              x-small
              class="text-capitalize"
              @click.stop="readMore = !readMore"
              >{{ readMore ? "Read Less" : "Read More" }}</v-btn
            >
          </v-card-text>
          <v-list>
            <v-list-item
              class="pl-0 my-5"
              v-for="(info, key) of uesrInfo"
              :key="key"
            >
              <div>
                <v-list-item-title class="mb-2 font-weight-bold">{{
                  key
                }}</v-list-item-title>
                <v-list-item-subtitle>{{ info }}</v-list-item-subtitle>
              </div>
            </v-list-item>
          </v-list>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "Home",
  computed: {
    ...mapState({
      stories: (state) => state.stories,
      latestFeed: (state) => state.latestFeed,
      page: (state) => state.page,
    }),
    bio: function() {
      const bio = `Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit voluptatibus vitae repellat debitis sint! Ipsum dicta deserunt, quis ducimus repellendus quidem reprehenderit doloremque autem corrupti sed accusamus pariatur perspiciatis doloribus?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit voluptatibus vitae repellat debitis sint! Ipsum dicta deserunt, quis ducimus repellendus quidem reprehenderit doloremque autem corrupti sed accusamus pariatur perspiciatis doloribus?`;
      if (this.readMore) {
        return bio;
      } else {
        return bio.slice(0, 100) + "...";
      }
    },
    isScreenSmall: function() {
      return (
        this.$vuetify.breakpoint.md ||
        this.$vuetify.breakpoint.sm ||
        this.$vuetify.breakpoint.xs
      );
    },
  },
  data: () => ({
    feedShowType: "grid",
    storyDialog: false,
    readMore: false,
    selectedStory: null,

    userPhotoCount: 80,
    userFollowersCount: 800,
    uesrInfo: {
      location: "Based in Tehran",
      profession: "Photographer",
      interests: "Nature and stuff",
    },
  }),
  methods: {
    async loadMorePhotos() {
      try {
        const response = await fetch(
          `https://pixabay.com/api/?key=17157667-0ed208ed2556c09785bdcf46a&q=nature+portrait&page=${this.page}&per_page=8`
        );
        const data = await response.json();
        const newImages = data.hits;

        newImages.forEach((image) => {
          const title = image.tags.split(",")[0];
          this.$store.commit("addFeed", {
            likes: image.likes,
            comments: image.comments,
            id: this.latestFeed.length + 1,
            // capitalize the title
            title: title.charAt(0).toUpperCase() + title.slice(1),
            discription:
              "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.",
            image: image.largeImageURL,
          });
        });
      } catch (e) {
        console.log(e);
      }
    },
    openStory(index) {
      this.storyDialog = true;
      this.selectedStory = index;
    },
  },
};
</script>
<style lang="scss">
.font-large-bold {
  font-size: 1.8rem;
  font-weight: bolder;
}
.letter-spacing-large {
  letter-spacing: 0.1rem !important;
}
.font-small-grey {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}
.font-small-bold {
  font-weight: bold;
}
.cursor-pointer {
  cursor: pointer;
}
.font-md-large-bold {
  @media screen and (min-width: 960px) {
    font-size: 1.8rem;
    font-weight: bolder;
  }
}
</style>
