<template>
  <v-row>
    <v-col cols="4">
      <v-img :src="post.image"></v-img>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "Post",
  data: () => ({
    post: null,
  }),
  mounted() {
    const id = parseInt(this.$route.query.id);
    this.post = this.$store.state.latestFeed[id - 1];
  },
};
</script>
