<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 32 32"
    fill="#737373"
    width="60"
    height="60"
  >
    <title>hashtag</title>
    <path
      d="M28,12V10H22V4H20v6H12V4H10v6H4v2h6v8H4v2h6v6h2V22h8v6h2V22h6V20H22V12Zm-8,8H12V12h8Z"
    />
    <rect
      width="32"
      height="32"
      fill="none"
      data-name="&lt;Transparent Rectangle>"
    />
  </svg>
</template>
