<template>
  <v-app>
    <v-app-bar color="white" elevation="0" app class="py-4">
      <v-app-bar-nav-icon
        class="mb-6"
        @click.stop="drawerMenuClick"
        v-if="screenIsSmall"
      ></v-app-bar-nav-icon>
      <v-row justify="space-between" v-if="!screenIsSmall">
        <v-col md="3" cols="12">
          <v-text-field
            outlined
            dense
            append-icon="mdi-microphone-outline"
            prepend-inner-icon="mdi-magnify"
            label="Search"
          ></v-text-field>
        </v-col>
        <v-col cols="8" md="8" class="d-flex justify-end">
          <v-btn
            max-height="54"
            dark
            class="text-capitalize"
            color="#ff4e6a"
            depressed
          >
            <v-icon small class="mr-1">
              mdi-plus
            </v-icon>
            Create new post
          </v-btn>
          <v-btn color="grey lighten-2" icon class="ml-2">
            <v-icon>
              mdi-mail
            </v-icon>
          </v-btn>
          <v-btn color="grey lighten-2" icon class="mx-2">
            <v-icon>
              mdi-heart-outline
            </v-icon>
          </v-btn>
          <v-btn color="grey lighten-2" icon>
            <v-avatar size="28">
              <v-img
                src="https://images.unsplash.com/photo-1529665253569-6d01c0eaf7b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
              >
              </v-img>
            </v-avatar>
            <v-icon>mdi-chevron-down</v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </v-app-bar>
    <v-navigation-drawer
      width="300"
      v-model="drawer"
      color="#fbfbfb"
      app
      :mini-variant="miniDrawer"
    >
      <v-list>
        <v-list-item>
          <v-list-item-avatar>
            <v-icon size="35" v-if="!miniDrawer">mdi-instagram</v-icon>
            <v-icon class="mr-2" v-else @click.stop="drawerMenuClick"
              >mdi-menu</v-icon
            >
          </v-list-item-avatar>
          <v-list-item-title class="font-black">Instagram</v-list-item-title>
          <v-list-item-action>
            <v-icon @click.stop="drawerMenuClick">mdi-menu</v-icon>
          </v-list-item-action>
        </v-list-item>
      </v-list>
      <v-list>
        <v-list-item class="d-flex justify-center align-center flex-column">
          <v-avatar
            class="rounded-circle border-red-gradient"
            :size="miniDrawer ? 50 : 90"
          >
            <v-img
              :max-height="miniDrawer ? 33 : 73"
              :max-width="miniDrawer ? 33 : 73"
              src="https://images.unsplash.com/photo-1529665253569-6d01c0eaf7b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
            ></v-img>
          </v-avatar>
          <v-list-item-content>
            <v-list-item-title class="text-center font-black"
              >Mostafa Rahmati</v-list-item-title
            >
            <v-list-item-subtitle class="text-center"
              >Profesianal</v-list-item-subtitle
            >
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-list class="d-flex justify-space-around" v-if="!miniDrawer">
        <v-list-item v-for="(tag, index) in profileTags" :key="index">
          <v-list-item-content>
            <v-list-item-title class="font-bold">{{
              tag.title
            }}</v-list-item-title>
            <v-list-item-subtitle class="text-center font-small-light mt-2">{{
              tag.subtitle
            }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-divider inset class="mx-auto"></v-divider>
      <v-list nav color="transparent" flat class="mt-3">
        <v-list-item
          v-for="(navItem, index) in navLinks"
          :key="index"
          class="pr-6"
          link
          color="#a6abb1"
          :to="navItem.link"
          exact-active-class="active-nav-link"
        >
          <v-tooltip right>
            <template v-slot:activator="{ on, attrs }">
              <v-icon v-bind="attrs" v-on="on" class="mr-6">{{
                navItem.icon
              }}</v-icon>
              <span>{{ navItem.title }}</span>
            </template>
            <span>{{ navItem.title }}</span>
          </v-tooltip>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-main>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "App",
  computed: {
    screenIsSmall: function() {
      return (
        this.$vuetify.breakpoint.md ||
        this.$vuetify.breakpoint.sm ||
        this.$vuetify.breakpoint.xs
      );
    },
  },
  data: () => ({
    drawer: true,
    miniDrawer: false,
    profileTags: [
      { title: "Tags", subtitle: "23" },
      { title: "Friends", subtitle: "80" },
      { title: "Followers", subtitle: "800" },
    ],
    navLinks: [
      { title: "Home", icon: "mdi-home-outline", link: "/" },
      { title: "Explore", icon: "mdi-compass-outline", link: "/explore" },
      { title: "Trending", icon: "$hashtag", link: "/trending" },
      { title: "Direct", icon: "mdi-message-outline", link: "/direct" },
      { title: "Settings", icon: "$settings", link: "/settings" },
    ],
  }),
  methods: {
    drawerMenuClick() {
      if (this.screenIsSmall) {
        this.miniDrawer = false;
        this.drawer = !this.drawer;
      } else {
        this.miniDrawer = !this.miniDrawer;
        // this.drawer = !this.drawer;
      }
    },
  },
};
</script>

<style lang="scss">
#app {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @media screen and (max-width: 500px) {
    font-size: 0.8rem;
  }
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #a4a4a4;
  border-radius: 3px;
}
::-webkit-scrollbar-track {
  background-color: #d8d8d8;
}

.font-small-light {
  font-size: 0.8rem;
  font-weight: 500;
}
.font-medium-bold {
  font-size: 1.1rem;
  font-weight: 900;
}
.font-black {
  font-weight: 900;
  font-style: normal;
}
.font-bold {
  font-weight: 700;
  font-style: normal;
}
.active-nav-link {
  span {
    color: #fe506c !important;
  }
  i {
    color: #fe506c !important;
  }
}

.border-red-gradient {
  $border: 5px;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  background-clip: padding-box;
  border: solid $border transparent;
  border-radius: 50%;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    margin: -$border;
    border-radius: inherit;
    -webkit-animation: changeBorderColor 4s ease infinite;
    -moz-animation: changeBorderColor 4s ease infinite;
    -o-animation: changeBorderColor 4s ease infinite;
    animation: changeBorderColor 4s ease infinite;
    background: linear-gradient(90deg, #ff1515, #ffb004);
    background-size: 400% 400%;
  }
}
@-webkit-keyframes changeBorderColor {
  0% {
    background-position: 0% 53%;
  }
  50% {
    background-position: 100% 48%;
  }
  100% {
    background-position: 0% 53%;
  }
}
@-moz-keyframes changeBorderColor {
  0% {
    background-position: 0% 53%;
  }
  50% {
    background-position: 100% 48%;
  }
  100% {
    background-position: 0% 53%;
  }
}
@-o-keyframes changeBorderColor {
  0% {
    background-position: 0% 53%;
  }
  50% {
    background-position: 100% 48%;
  }
  100% {
    background-position: 0% 53%;
  }
}
@keyframes changeBorderColor {
  0% {
    background-position: 0% 53%;
  }
  50% {
    background-position: 100% 48%;
  }
  100% {
    background-position: 0% 53%;
  }
}
</style>
